<div class="container">
  <div class="content">
   <div class="navbar">
    <h1 class="navbarText">Akash Gupta - Password Genarator </h1>
   </div>
    <app-password-display [password]="password"
                          [passwordUpdated]="passwordUpdated"></app-password-display>

    <div class="interactive">
      <app-slider></app-slider>
      <app-checkbox-options (changeLowerValueEvent)="changeLowerValueEvent($event)"
                            (changeUpperValueEvent)="changeUpperValueEvent($event)"
                            (changeNumberValueEvent)="changeNumberValueEvent($event)"
                            (changeSymbolValueEvent)="changeSymbolValueEvent($event)">
      </app-checkbox-options>

      <app-strength-bar></app-strength-bar>

      <button type="button"
              (click)="generateNewPassword()"
              class="btn-primary">
        Generate
        <svg width="12"
             height="12"
             xmlns="http://www.w3.org/2000/svg">
          <path
          d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z"/>
        </svg>

      </button>
    </div>
  </div>
</div>
