@use '/src/variables';

/* password text */
.password {
  height: 64px;
  width: 323px;
  background-color: variables.$black-russian;
  @include variables.flex-row;
  padding: 0 20px;
}

.password-text {
  @include variables.heading-m;
  color: variables.$lilac-murmur;
}

.empty {
  opacity: .25;
}

.filled {
  opacity: 1;
}

/* copy icon button */
svg.copy-icon {
  fill: variables.$synthetic-mint;
  margin-left: 10px;

}

svg.copy-icon:hover,
svg.copy-icon:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}

svg.copy-icon:hover {
  fill: variables.$lilac-murmur;
}

.copy-btn {
  @include variables.body-text;
  @include variables.flex-row;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.copy-btn>div {
  color: variables.$synthetic-mint;
}

.copy-btn:hover>div,
.copy-btn:hover>svg {
  color: variables.$lilac-murmur;
  fill: variables.$lilac-murmur;
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  .password {
    height: 64px;
    width: 540px;
    background-color: variables.$black-russian;
    @include variables.flex-row;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1440px) {}
